body{
    margin:0;
}
header img{
    height: 100px;
}
nav a{
    text-decoration: none;
    color:rgb(72, 150, 0);
    font-size: 16px;
    padding: 5px 15px;
    font-family: 'Bowlby One SC';font-size: 22px;
    &:hover{
        color:rgb(26, 70, 0)
    }
}
header{
    text-align: center;
    box-shadow: 0px 0px 5px;
    background-color:rgb(255, 249, 171)
}
nav{
    padding: 10px
}