body{
    margin:0;
}
header img{
    height: 100px;
}
nav a{
    text-decoration: none;
    color:rgb(72, 150, 0);
    font-size: 16px;
    padding: 5px 15px;
    font-family: 'Bowlby One SC';font-size: 22px;
    &:hover{
        color:rgb(26, 70, 0)
    }
}
header{
    text-align: center;
    box-shadow: 0px 0px 5px;
    background: #e8e156;
background: linear-gradient(180deg,rgba(232, 225, 86, 1) 32%, rgba(235, 228, 136, 1) 81%);
}
nav{
    padding: 10px
}