body{
    margin:0;
}
header img{
    height: 500px;
}
nav a{
    text-decoration: none;
    color:rgb(72, 150, 0);
    font-size: 16px;
    padding: 5px 15px;
    font-family: 'Bowlby One SC';font-size: 22px;
    &:hover{
        color:rgb(26, 70, 0)
    }
}
header{
    text-align: center;
    box-shadow: 0px 0px 5px;
    background: #d4d42f;
    background: linear-gradient(182deg,rgba(212, 212, 47, 1) 0%, rgba(255, 243, 130, 1) 100%);

}
nav{
    padding: 10px
}