body{
    margin:0;
}
header img{
    height: 100px;
    margin: 8px;
    margin-left: 20px;
}
nav a{
    text-decoration: none;
    color:rgb(207, 6, 6);
    font-size: 16px;
    padding: 5px 15px;
    font-family: 'Bowlby One SC';font-size: 35px;
    text-shadow: 2px 2px 2px #e7c44f;
    &:hover{
        color:rgb(143, 1, 1)
    }
}
header{
    text-align: center;
    box-shadow: 0px 0px 5px;
    background: #e8e156;
    background: linear-gradient(180deg,rgba(232, 225, 86, 1) 32%, rgba(235, 228, 136, 1) 81%);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}
nav{
    padding: 10px;
    margin: 20px;
}

.home{
    height: 800px;
    padding-top: 100px;

}

.deskripsiHome{
    font-size: 20px;
    width: 50%;
    margin-left: 30px;
   
}
h3{
    color: rgb(255, 255, 255);
   font-family: 'Archivo Black';font-size: 30px;
   text-shadow: 2px 3px 2px rgb(29, 48, 13);
   margin-top: 5px;
    
}
h1{
    color:aliceblue;
    font-family: 'Anton SC';font-size: 80px;
    text-shadow: 3px 4px 3px rgb(32, 48, 16);
    margin-bottom: 2px;
    letter-spacing: 3px;
}
p{
    color: rgb(255, 255, 255);
   font-family: 'Bebas Neue';font-size: 30px;
    margin-top: 2px;
    text-shadow: 2px 3px 3px rgb(9, 15, 3);
}


section.home{
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(REDONION.png)
   
}
.containerHome{
    width: 40%;
    margin: 50%;
    padding-top: 100px;
}

section.about {
   height: 800px;
   background-image: url(BG2.png);
}
.containerAbout{
    width: 50%;
    margin-top: 1px;
    padding: 50px 50px;
    text-align: left;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    
}
section.profile{
    height: 800px;
    padding-top: 50px;
    background-image: url(BG3.png)
    
}
.cardProfile{
    background: linear-gradient(to right, rgb(69, 3, 113), rgb(129, 20, 187), rgb(71, 3, 98));
    padding: 15px;
    width:300px;
    height: 570px;
    margin: auto;
    text-align: center;
}
img{
    width:100%;
}
.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height:40px;
    padding-top:5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
    color: aliceblue;

}
section.howto{
    height: 900px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-image: url(BG4.png);
    color: aliceblue;
    font-family: 'Bebas Neue';font-size: 30px;
    position: relative; 
}
.howto img{
    height: 600px;
    width: 450px;
}
.deskHowto{
    display: flex;
    width: 60%;
    margin-left: 30px;
}
.dokumentasi{
    margin:20px;
}
.HOWTO-kanan{
   position: absolute;
  right: 20px;  
  top: 100px;   
  width: 400px;
  height: auto;
  max-width: none;
}
